{% extends 'base.html.twig' %}

{% block title %}wf3tm task detail{% endblock %}

{% block body %}
	<div class="container">
		<p>id : {{ task.getId() }}</p>
		<p>created date : {{ task.getCreationDate()|date('Y-m-d H:i:s') }}</p>
		<p>priority : {{ task.getPriority() }}</p>
		<p>title : {{ task.getTitle() }}</p>
		<p>description : {{ task.getDescription()|nl2br() }}</p>
		<p>author : {{ task.getAuthor().getName() }}</p>
		<br/>
		<hr/>
		{{ form(form) }}
	</div>
{% endblock %}
