{% extends 'base.html.twig' %}

{% block title %}wf3tm list of tasks{% endblock %}

{% block body %}

	{% if tasks is empty %}
		<p>No stask found in the application</p>
	{% else %}
	<div class="container">
		{{ form(searchForm) }}
		<br/>
		<hr/>

        <table class="table table-striped">
        	<thead>
        		<tr>
        			<th>Creation date</th>
        			<th>Title</th>
        			<th>Description</th>
        			<th>Author</th>
        			<th>Priority</th>
        			<th></th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for task in tasks %}
        			<tr>
        				<td>{{ task.getCreationDate()|date('Y-m-d H:i:s') }}</td>
        				<td>{{ task.getTitle() }}</td>
        				
        				{% if task.getDescription()|length() > 100 %}
        					{% set description = task.getDescription()|slice(0, 100) %}
        					{% set description = description ~ '...' %}
        				{% else %}
        					{% set description = task.getDescription() %}
        				{% endif %}
        				<td>{{ description }}</td>
        				<td>{{ task.getAuthor().getName() }}</td>
        				<td>{{ task.getPriority() }}</td>
        				<td><a href="{{ path("task_detail", {task: task.getId()}) }}">Detail</a></td>
        			</tr>
        		{% endfor %}
        	</tbody>
        </table>
		<br/>
		<hr/>
	</div>
	{% endif %}
	
	<div class="container">
	    {{ form(form) }}
	</div>
{% endblock %}